<div class="container">
  <h1>Resouce Tag Input</h1>

  <h2>Minimum</h2>
  <tag-input placeholder='add a tag' autocomplete='tags_1_resouce' taglist='select_tags_1' tagoptions='tags_1_options' ></tag-input> 
  <br/>
  <br/>
  <h2>Initial data with filter and input mininum is 3 characters</h2>
  <tag-input placeholder='add a tag' autocomplete='tags_2_resouce' taglist='select_tags_2' tagoptions='tags_1_options' ></tag-input>
  <br/>
  <br/>
  <h2>HTTP Resouce( Get location from Google Map )</h2>
  <tag-input placeholder='add a tag' autocomplete='tags_3_resouce' taglist='select_tags_3' tagoptions='tags_3_options' ></tag-input>
  <br/>
  <br/>
</div>
